
<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>Yararlı Linkler</h4><br />
                <p>
                    <a href="#">Sit amet, consectetur.</a><br />
                    <a href="#">Sit amet, consectetur.</a><br />
                    <a href="#">Sit amet, consectetur.</a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>My EverNote</h4><br />
                <p>Tüm hakları saklıdır. &copy; My EverNote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>E-Bülten Üyeliği</h4>
                <br />
                <div class="row  input-group mb-3">
                    <div class="col-md-8"><input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"></div>
                    <div class="col-md-4"><button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button></div>
                </div>
            </div>
        </div>
    </footer>

</div>