@using EveryNote.Entities
@model List<Categories>
<p class="lead">Shop Name</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("ByCategory","Home", new { id=item.Id})" class="list-group-item">@item.Title</a>
    }
</div>